<div th:fragment="page">
    
    <div class="row">
        <div class="col-md">
           <a href="/students/signup"> <button class="btn btn-primary" style="width: 12rem; height: 8rem; text-align: center;">Add new Student</button></a>
        </div>
        <div class="col-md">
            <button class="btn btn-success" style="width: 12rem; height: 8rem; text-align: center;" >view Student per class</button>
        </div>
        <div class="col-md">
            <button class="btn btn-secondary" style="width: 12rem; height: 8rem; text-align: center;" >print class List</button>
        </div>
        <div class="col-md">
            <button class="btn btn-danger" style="width: 12rem; height: 8rem; text-align: center;" >Add new </button>
        </div>
    </div>
</div>