<div th:fragment="page">
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="attendance">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="class List">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="timetable">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="Exams">
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md"><a th:href="@{/teachers/teacher/signup}">
			<div class="card" style="width: 12rem; height: 8rem;" >
				<img class="card-img-center" src="#" alt="TEACHERS">
			</div></a>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
		<div class="col-md">
			<div class="card" style="width: 12rem; height: 8rem;">
				<img class="card-img-center" src="#" alt="#">
			</div>
		</div>
	</div>
</div>