<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home app</title>

	<link href="../static/css/all.css" th:href="@{/css/all.css}" rel="stylesheet" media="screen" />
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v6.7.2/css/all.css"
	
	crossorigin="anonymous">


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-2" style="min-height: 700px; background-color: azure;">
				<div>LG <b> SCHOOL</b></div><br>
				<!-- List group -->
				<div class="list-group" id="myList" role="tablist">
					<a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab" style="border: none;"><i class="fas fa-house"></i>&nbsp;Home</a>
					<hr>
  					<a class="list-group-item list-group-item-action" data-toggle="list" href="#attendance" role="tab" style="border: none;"><i class="fas fa-clipboard-user"></i>&nbsp;&nbsp;attendance</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#classList" role="tab" style="border: none;"><i class="fas fa-ear-listen"></i>&nbsp;&nbsp;class List</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#timetable" role="tab" style="border: none;"><i class="fas fa-bars"></i>&nbsp;&nbsp;Time Table</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#eventnews" role="tab" style="border: none;"><i class="fas fa-school"></i>&nbsp;&nbsp;Event/News</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#exams" role="tab" style="border: none;"><i class="fab fa-teamspeak"></i>&nbsp;&nbsp;Exams</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#calender" role="tab" style="border: none;"><i class="fas fa-landmark"></i>&nbsp;&nbsp;Calender</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#homework" role="tab" style="border: none;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;HomeWork</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#examsresult" role="tab" style="border: none;"><i class="fab fa-teamspeak"></i>&nbsp;&nbsp;Exams Result</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#students" role="tab" style="border: none;"><i class="fas fa-users-gear"></i>&nbsp;&nbsp;Students</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#employees" role="tab" style="border: none;"><i class="fas fa-users-gear"></i>&nbsp;&nbsp;Employees</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#feespaid" role="tab" style="border: none;"><i class="fas fa-money-bill-transfer"></i>&nbsp;&nbsp;Fees Paid</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#setting" role="tab" style="border: none;"><i class="fas fa-gear"></i>&nbsp;&nbsp;Setting</a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#configuration" role="tab" style="border: none;"><i class="fas fa-screwdriver-wrench"></i>&nbsp;&nbsp;Configuration</a>
				</div>
				
			</div>
			<div class="col-lg" style="min-height: 700px; border-left: 1px solid black;" >
				<div>Name<br>..... 
					<div style="float:right; height: 12%; width: 10%; color: rgb(15, 15, 245);" >
					img &nbsp;&nbsp;&nbsp;<b><i class="fas fa-right-from-bracket" ></i></b>
					</div>
				</div>
				<hr>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel"><div th:block th:include="fragments/welcome :: page"></div></div>
					<div class="tab-pane" id="attendance" role="tabpanel">attendance</div>
					<div class="tab-pane" id="classList" role="tabpanel">classList</div>
					<div class="tab-pane" id="timetable" role="tabpanel">time table</div>
					<!-- panes for students! -->
					 <div class="tab-pane" id="students" role="tabpanel"><div th:block th:include="fragments/students :: page"></div>Students</div>
				</div>
				
			</div>
		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$('#myList a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
	})

	
</script>
</body>
</html>