<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>


    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
 <link rel="stylesheet" href="../static/css/shards.min.css">
 <link rel="stylesheet" href="../static/css/bootstrap.min.css">

 <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 

</head>
<body>
    <div class="container my-2">
        
        <div class="card">
            <div class="card-head">Signin Form</div>
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/users/signin/}" th:object="${users}" method="get">
                        <div class="row">
                            <div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder=" Enter Email"> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>
                            <div class="form-group col-md-8">
								<label for="password" class="col-form-label">Password</label> <input
									type="password" th:field="*{password}" class="form-control" id="password"
									placeholder="Enter password"> <span
									th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									class="text-danger"></span>
							</div>
                            <div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Signin">
							</div>

							<div class="form-group col-md-8"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>