<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>view employee</title>
	<link rel="stylesheet" type="text/css" href="../static/css/vemployee.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vemployee.css}">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<ul th:each="emplo : ${employee}">
				<li><img src="[[${emplo.profile}]]"></li>
				<li><h3>[[${emplo.fname}]] &nbsp;&nbsp; [[${emplo.lname}]]</h3></li>
				<li>Message button</li>
				<hr>
				<h3>Professional Info</h3>
				<li>[[${emplo.empEmail}]]</li>
				<li>679260307</li>
				<li>Job ID <b>123456</b></li>
				<li>Employee Status <b>Full Time</b></li>
				<li>Department, <b>Computer Science</b></li>
				<li>service Lenght: <b>2 yrs</b></li>
				<li>Joined <b>20 Dec, 2009</b></li>
				<li>Supervisor <b>Idrice</b></li>
				<hr>
				<h3>Other Info</h3>
				<li>DOB 11 Sep, 1995</li>
				<li>[[${emplo.gender}]]</li>
				<li>Blood Group B</li>
				<li>[[${emplo.contactAdd}]]</li>
				
			</ul>
		</div>

		<div class="article">
			<ul>
				<li>
					<h3>Salary Details</h3>
					<p>This information is periodic payment from an employer to an employee!</p>
					<hr>
					<table>
						<h4>Payable Salary</h4>
						<tr>	
													
							<td rowspan="6">
								
								<p>$ 10,000/month</p>
								<p>$ 120,000/year</p>
							</td>
						</tr>
						<th>Salary Component</th>
						<th>Salary Component</th>
						<tr>

							<td>Basic Salary</td>
							<td>50% of Gross Salary</td>
						</tr>
						<tr>
							<td>House Rent Allowance</td>
							<td>25% of Gross Salary</td>
						</tr>
						<tr>
							<td>Medical Allowance</td>
							<td>12.5% of Gross Salary</td>
						</tr>
						<tr>
							<td>Fixed Other Companent</td>
							<td>12.5% of Gross Salary</td>
						</tr>
					</table>
					<h3>Company Benefits</h3>
					<p>This employee is allowed for provident funt and TAX. Every  month 12% of the besic salary is deduced for the
						provident fund, and 2% of the gross salary is deduced for the gorvenment taxes. Net payable salary is <span>$8,600</span> per month.</p>
						<a href="#">Salary Payslip</a>

				</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	</div>
</body>
</html>